<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

<title>Untitled Document</title>

<style>

.tourism_article

 {

 color:#FFFFFF;

 border-bottom-style:groove;

 background-color:#Fd8402;

 border-bottom-width:thick;

 border-bottom-color:#a6ce39;

 

 }

 .tourism_heading

 {

  color:#Fd8402;

 border-bottom-style:groove;

 border-bottom-color:#a6ce39;

 border-bottom-width:thick;

 

 border-left-style:hidden;

 caption-sid

 }

 

 

</style>

</head>

 

<body>

<table width="100%" height="100%">

  <tr>

    <td><h2 class="tourism_article"">&lt;NAME&gt;</h2></td>

  </tr>

  <tr>

    <td><h3 class="tourism_heading"">About:</h3></td>

  </tr>

  <tr>

    <td>&nbsp;</td>

  </tr>

  <tr>

    <td><h3 class="tourism_heading"">Location info:</h3></td>

  </tr>

  <tr>

    <td><strong>Address:</strong></td>

  </tr>

  <tr>

    <td><strong>District: </strong></td>

  </tr>

  <tr>

    <td><strong>Nearest City: 
    </strong></td>

  </tr>

  <tr>

    <td><strong>Best time to visit: </strong></td>

  </tr>

  <tr>

    <td><h3 class="tourism_heading""><strong>Climate/Weather:</strong></h3></td>

  </tr>

  <tr>

    <td>&nbsp;</td>

  </tr>

  <tr>

    <td><h3 class="tourism_heading"">History:</h3></td>

  </tr>

  <tr>

    <td>&nbsp;</td>

  </tr>

  <tr>

    <td><h3 class="tourism_heading"">Interesting things to do:</h3></td>

  </tr>

  <tr>

    <td>&nbsp;</td>

  </tr>

  <tr>

    <td><h3 class="tourism_heading"">Interesting things to Visit:</h3></td>

  </tr>

  <tr>

    <td>&nbsp;</td>

  </tr>

  <tr>

    <td><h3 class="tourism_heading"">Mobile range info:</h3></td>

  </tr>

  <tr>

    <td>&nbsp;</td>

  </tr>

  <tr>

    <td><h3 class="tourism_heading"">How to reach?</h3></td>

  </tr>

  <tr>

    <td><strong>Nearest Railway Station:</strong></td>

  </tr>

  <tr>

    <td><strong>Nearest Airport:</strong></td>

  </tr>

  <tr>

    <td><strong>Road Transport:</strong></td>

  </tr>

  <tr>

    <td><h3 class="tourism_heading"">Nearest Visiting places:</h3></td>

  </tr>

  <tr>

    <td>&nbsp;</td>

  </tr>

  <tr>

    <td><h3 class="tourism_heading""><strong>Nearest Petrol Pump:</strong></h3></td>

  </tr>

  <tr>

    <td>&nbsp;</td>

  </tr>

  <tr>

    <td><h3 class="tourism_heading"">Hotels/Lodge/Accommodation:</h3></td>

  </tr>

  <tr>

    <td>&nbsp;</td>

  </tr>

  <tr>

    <td><h3 class="tourism_heading"">Things to carry:</h3></td>

  </tr>

  <tr>

    <td>&nbsp;</td>

  </tr>

  <tr>

    <td><h3 class="tourism_heading"">Tips &amp; Suggestions:</h3></td>

  </tr>

  <tr>

    <td>&nbsp;</td>

  </tr>

  <tr>

    <td><h3 class="tourism_heading"">Help Line/Phone Number:</h3></td>

  </tr>

  <tr>

    <td><strong>Police Station:</strong></td>

  </tr>

  <tr>

    <td><strong>Nearest Hospital:</strong></td>

  </tr>

  <tr>

    <td><strong>Society/Community Phone Number</strong></td>

  </tr>

</table>

</body>

</html>

No virus found in this incoming message.
Checked by AVG - http://www.avg.com
Version: 8.0.173 / Virus Database: 270.7.6/1716 - Release Date: 10/9/2008 9:44 AM

